/*
 * 全局样式
*/
@defaultColor: #2b2b2b;
@font-face {
  font-family: 'iconfont';  /* project id 470510 */
  src: url('//at.alicdn.com/t/font_470510_xpdfdaptjyr885mi.eot');
  src: url('//at.alicdn.com/t/font_470510_xpdfdaptjyr885mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_470510_xpdfdaptjyr885mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_470510_xpdfdaptjyr885mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_470510_xpdfdaptjyr885mi.svg#iconfont') format('svg');
}

  .header-title{
    z-index:2;
    height: 1.5rem;
    .vux-header-title {
      height:100%!important;
      display:flex;
      align-items: center;
      justify-content: center; 
      font-size: .52rem!important;
    }
  }
  .main-box {
    background: #EBEBEB;
    position: absolute;
    height:100%;
    width:100%;
    top: 0;
    z-index: 0;
    left: 0;
  }
  .content-box {
    padding: 0 .24rem .4rem .24rem;
  }
  
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  overflow-x: hidden;
}
#app {
  position: relative;
  height:100%;
  width:100%;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif,'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @defaultColor
}
a {
  text-decoration: none;
  color: @defaultColor
}
i {
  font-style: normal;
}
div:after, div:before {
  content: '';
  display: block;
  clear: both;
}

ul,li {
  list-style-type: none;
}
.iconfont{
  font-family:"iconfont" !important;
  color: #fff;
  font-size:.5rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ads-box {
  margin: .4rem  0;
  background: url(https://ss3.baidu.com/-rVXeDTa2gU2pMbgoY3K/it/u=1006344302,1731187403&fm=202&gp=0.jpg&w_h=121_75&cs=1006344302,1731187403&ow_h=121_75&src=801&mola=new&crop=v1) center;
  text-align: center;
  .adsbygoogle {

  }
}
.weui-toast {
  width: 3.6em;
  min-height: 3.6em;
}