/* 
	Paytone One Fonts
	http://www.google.com/webfonts/specimen/Paytone+One
*/

@font-face {
    font-family: 'VictorianaRegular';
    src: url('../fonts/foo_new.eot');
    font-weight: normal;
    font-style: normal;
}

.victoriana-normal {
	font-family: VictorianaRegular;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.victoriana-white {
	font-family: VictorianaRegular;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.victoriana-white-unboredered {
	font-family: VictorianaRegular;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.default-bold {
	color: white;
	font-style: italic;
	font-size: 30px;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}